.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333333;
}

.main {
  display: flex;
}

.main > section {
  padding: 32px;
}

.left {
  display: none;
  display: none;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.list {
  .left {
    display: none;
  }
}

.left {
  padding: 20px;
}

@media only screen and (min-width: 600px) {
  .pageframe {
    padding: 50px;
    background-color: #222222;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .list {
    .left {
      display: none;
    }
  }
}
